<h1>Library</h1>
<%= link_to '+ New equation', new_user_equation_path(current_user), class:"btn btn-primary mb-2" %>

<div class="list-group">

  <% @equations.each do |equation| %>
    <%= link_to equation_path(equation), class:"shadow-sm list-group-item list-group-item-action flex-column align-items-start" do %>

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <%= equation.title %>  </h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1"><%= equation.title %></p>
      <small><%= equation.created_at %></small>

    <% end %>
  <% end %>
</div>


