<div class="container w-50 border shadow-sm px-3 py-3 bg-white">
<%= link_to '<i class="fas fa-arrow-left"></i> Back to library'.html_safe, equations_path, class:"btn btn-outline-primary" %>
  <h2><%= @equation.title %></h2>

  <% @equation.steps.each do |step| %>
    <div class="steps d-flex">
      <p>
        <div class="step text-dark">
          <%= step.latex %>
        </div>
      </p>
      <div class="icons">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_step_path(step), class:"text-muted ml-3"%>
        <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, delete_step_path(step), method: :delete, class:"text-muted" %>
        <%= link_to '<i class="far fa-comment-dots"></i></i>'.html_safe, new_step_comment_path(step), class:"text-muted" %>
      </div>
    </div>
  <% end %>

  <%= simple_form_for [@equation, @step] do |f| %>
    <%= f.input :latex, label: false, input_html: { class: 'd-none' } %>
    <span class="form-control" id="mathquill-editable"></span>
   <%= f.submit "Add step", class: "submit-btn btn btn-primary mt-2 align-self-start" %>
  <% end %>
</div>


<script>
  const latex = document.querySelector("#mathquill-editable")
  latex.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
      event.preventDefault();
      document.querySelector(".submit-btn").click();
    }
  });

  // const rootBlock = document.querySelector(".mq-root-block")
  // rootBlock.classList.add("mq-hasCursor")
  // rootBlock.focus

</script>

