<div class="container w-50 border shadow-sm px-3 py-3 bg-white">
<%= link_to '<i class="fas fa-arrow-left"></i> Back to library'.html_safe, equations_path, class:"btn btn-outline-primary" %>
  <h2><%= @equation.title %></h2>

<div data-controller="slideup">

  <% @equation.steps.each do |step| %>
  <div class="steps d-flex">
    <p>
      <div class="step text-dark" data-slideup-target="source">
        <%= step.latex %>
      </div>
    </p>
    <div class="icons ml-2">
      <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_step_path(step), class:"text-muted"%>
      <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, delete_step_path(step), method: :delete, class:"text-muted" %>
      <%= link_to '<i class="far fa-comment-dots"></i></i>' .html_safe, new_step_comment_path(step), class:"text-muted" %>
    </div>
  </div>
  <% end %>

  <%= simple_form_for [@equation, @step], id: 'step-form', data: { action: "submit->slideup#submit" } do |f| %>
  <input type="hidden" id="equation_id" value="<%= @equation.id %>" data-slideup-target="equationId">
  <%= f.input :latex, label: false, input_html: { class: 'd-none' } %>
  <span class="form-control" id="mathquill-editable"></span>
  <button class="submit-btn btn btn-primary mt-2 align-self-start">Add step</button>
  <% end %>

<script>
  const latex = document.querySelector("#mathquill-editable")
  latex.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
      event.preventDefault();
      document.querySelector(".submit-btn").click();
    }
  });

</script>
